name: Build Push Cleanup

on:
  push:
    branches:
      - master
    paths:
      - "image/**"
      - ".github/workflows/build.yml"
  schedule:
    - cron: "18 18 * * 2,6"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: nextcloud
  NEXTCLOUD_VERSION: "32"

jobs:
  image-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          pull: true
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}:buildcache,mode=max
          context: ./image
          tags: |
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }}
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}:${{ env.NEXTCLOUD_VERSION }}-${{ steps.date.outputs.date }}
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}:latest

  cleanup:
    needs: image-build
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: clean ${{ env.IMAGE_NAME }} image
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ${{ env.IMAGE_NAME }}
          delete-untagged: true
          older-than: 1 months
          keep-n-tagged: 5
