name: Ghcr.io Cleanup

on:
  schedule:
    - cron: "18 19 * * 2,6"
  workflow_dispatch: # Allow manual triggering

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: clean nextcloud image
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          package: nextcloud
          delete-untagged: true
          keep-n-tagged: 5
